# Lab 2 - Sacramento House Logistics

Mauricio Garcia 10/2/19

### Abstract

In this lab, we will explore some different perspectives on the data related to house sizes, bedrooms, bathrooms and price for some Sacramento homes. The first portion of this lab will open up the file that contains the data to examine. After that, a couple of strings will print in clear terms (not code!) what numbers come out of this lab, such as minimums, maximums and averages.

## Dataset Preparation

This data is from a secondary source, updated and created in the year 2006 and contains data from 985 home transactions in Sacramento

In the code below, I am opening and showing the first 5 entries from a file and reading it into this Jupyter notebook to read later.

In [17]:
# open the file

data_file = open("Sacramentorealestatetransactions.csv", "r");


House_info_List = [];

#put all lines from the file into a list
for row in data_file:
    House_info_List.append(row);
    
#close the file. It's the courteous and clean thing to do
data_file.close();

# show the first five items in the list. Notice that they are all strings
# the \n part of the string means "newline" - its the symbol that represents the end of a line
print(House_info_List[:5]);

['street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude\n', '3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879\n', '51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028\n', '2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839\n', '2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146\n']

Now comes the time to organize in columns and rows...

In [18]:
#remove the first element (column header)
# the header is useful for telling us what the columns mean, 
# but you don't want to include it in your mathematical calculations
del House_info_List[0];

# we want to make a list of the beds, baths, square feet and prices of houses
Beds = [];
Baths = [];  
Square_feet = [];
Prices = [];

# loop (go through every row one by one) through the original House_info_List
for item in range(len(House_info_List)):
    
    # this line is a bit confusing, but what it is doing is splitting out each comma separated item from a row and turning it into a list 
    # After being split, the seven separate strings are then stored in another list called House_info_row
    House_info_row = House_info_List[item].split(",")
    
    #now that we've split the row into its two parts, we can pick and choose how to assign them to their appropriate columns and rows
    
    Beds.append(int(House_info_row[4]))
    Baths.append(int(House_info_row[5]))
    Square_feet.append(int(House_info_row[6]))
    Prices.append(int(House_info_row[9]))
    
print("List of just the Beds data:")
print(Beds[:10])
print("\nList of just the Baths data:")
print(Baths[:10])
print("\nList of just the Square feet data:")
print(Square_feet[:10])
print("\nList of just the prices (in dollars) data:")
print(Prices[:10])

List of just the Beds data:
[2, 3, 2, 2, 2, 3, 3, 3, 2, 3]

List of just the Baths data:
[1, 1, 1, 1, 1, 1, 2, 1, 2, 2]

List of just the Square feet data:
[836, 1167, 796, 852, 797, 1122, 1104, 1177, 941, 1146]

List of just the prices (in dollars) data:
[59222, 68212, 68880, 69307, 81900, 89921, 90895, 91002, 94905, 98937]

Now that we have a couple of data points to work with, we can move on to proccess and analyze them to see what interesting things pop up!

# Data Analysis

To start off, I calculate the range of the data for the beds, baths, prices and square feet

In [19]:
# finding the minimum and maximum numbers in a list is easy - you just call functions min and max
minNbr = min(Beds)
maxNbr = max(Beds)

print("the range of beds is from", minNbr, "to", maxNbr)

the range of beds is from 0 to 8

In [20]:
maxNbr = max(Baths)
maxNbr = max(Baths)
print("the range of baths is from", minNbr, "to", maxNbr)

the range of baths is from 0 to 5

In [21]:
maxNbr = max(Square_feet)
maxNbr = max(Square_feet)
print("the range of square feets is from", minNbr, "to", maxNbr)

the range of square feets is from 0 to 5822

In [22]:
maxNbr = max(Prices)
maxNbr = max(Prices)
print("the range of prices is from", minNbr, "to", maxNbr)

the range of prices is from 0 to 884790

Personally, I'm also a little curious to know what the average price of a house is in Sacramento, so I'm going to present that.

In [32]:
# to count how many items are in the list, use the function len
count = len(Prices)
print("Number of values is ", count)

# to add up all the items in the list, use the function sum
total = sum(Prices)
print("Total sum of the prices is ", total)

# you can then use these two values to calculate the average (also called the mean)
avg=total/count
print("So the the average price of a house in Sacramento is ", float(avg), "dollars")

Number of values is  985
Total sum of the prices is  230632100
So the the average price of a house in Sacramento is  234144.26395939087 dollars

# Conclusions

Now that we have some data, a couple of questions may arise:

    * What type of house has no bedrooms or bathrooms or either?
    * What type of house has 0 square feet?
    * How much has the aveage price of a house in Sacramento changed since time has gone by?
    
For the first two questions, my gut feeling is that there is not actually a house with no square feet, bedrooms or baths. Chances are, values where no information was available was substituted with a 0. This would make some sense. Another thing that may also be true is that there may be a case in which a house has a bedroom and square feet, but no bathroom installed. It's interesting to speculate what these weird data points might mean however.